{% extends "home.html" %}
{% load static %}

{% block content %}
    <div id="canvasContainer" style="position: relative;">
        <div id="originalCanvasWrapper" style="transform: scale(4); transform-origin: top left;">
            <canvas id="originalCanvas" width="200" height="200" style="image-rendering: pixelated; "></canvas>
        </div>
        <canvas id="zoomedCanvas" style="position: absolute; top: 0; left: 0; display: none;"></canvas>
        <button id="backButton" style="display: none; position: absolute; top: 10px; left: 10px;">Back</button>
        <button id="applyButton" style="display: none;">Apply</button>
        <input type="color" id="colorPicker" style="display: none;">
    </div>

    <script src="{% static "script.js" %}"></script>
    <script>
        drawCanvas();
    </script>
    
    <input type="color" id="colorPicker" style="display: none;">
    
    
{% endblock content %}